<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="primayuda/astro-beginner-project"
        data-repo-id="R_kgDOK6qtjA"
        data-category="Blog Post Comment"
        data-category-id="DIC_kwDOK6qtjM4CdFFB"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>